header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background: var(--color-primary);
}

.header_logo {
  margin-left: 2rem;
  color: var(--color-bg);
  text-decoration: none;
  font-size: 2.5rem;
}

.nav_links {
  margin-right: 2rem;
}

.nav_links>a {
  padding-left: 2rem;
  color: var(--color-bg);
}